@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

/* ---- CSS Reset ---- */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ---- General formatting */
:root {
  --general-padding: 35px;
  --general-smaller-padding: 20px;
  --general-mini-padding: 5px;
  --box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  --main-width-mobile: 90%;
  --main-width-desktop: 70%;

  --hover-color: rgb(255, 199, 220);
}

.emoji {
  font-size: 24px;
}

p {
  word-break: break-all;
  white-space: normal;
}

a {
  text-decoration: none;
  color: black;
}

/* ---- Main container */

.main-wrapper {
  margin: 20px auto;
  padding: 5px var(--general-padding);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

/* ---- Header */

header {
  margin: 0;
  padding: 0 var(--general-padding);
  text-align: center;
}

h1 {
  /*font-family: 'Merriweather Sans', sans-serif;*/
  /*font-family: 'Abril Fatface', cursive;*/
  font-family: "Abril Fatface";
  font-size: 1.5em;
  font-weight: 800;
  background: -webkit-linear-gradient(
    45deg,
    #ff199f,
    #cd8cdd,
    #5be288,
    #bef146,
    #7e6ed8
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

/* ---- Post New Message */

.post-wrapper {
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(105, 105, 105);
  margin: 0;
  padding: 5px var(--general-padding) 15px var(--general-padding);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  width: var(--main-width-mobile);
}

.post-wrapper form {
  width: 100%;
}

.post-wrapper h2 {
  font-size: 26px;
  margin: 5px 0 0 0;
}

.post-wrapper textarea {
  font-size: 18px;
  width: 100%;
  margin: 10px 0 2px 0;
  background: white;
  text-align: center;
}

.post-length {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
  padding: 0;
  gap: 25px;
}

.length {
  color: grey;
  margin: 0;
  min-width: 50px;
}

.error {
  font-size: 16px;
  color: grey;
  margin: 0;
}

.post-wrapper button {
  background-color: rgb(255, 183, 210);
  border-radius: 25px;
  padding: 5px 10px;
  margin: 0 0 5px 0;
  border: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.post-wrapper button:hover {
  background-color: var(--hover-color);
}

/* ---- Message List container */

.list-wrapper {
  margin: 0;
  padding: 5px var(--general-padding);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

/* Single message */

.message {
  border: 1px solid rgb(105, 105, 105);
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--general-smaller-padding);
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
}

.message p {
  margin: 10px 0 15px 0;
  font-size: 18px;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.like-button {
  background-color: rgb(209, 209, 209);
  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  animation: pulse-small 2s infinite;
}

.like-button:hover {
  background-color: var(--hover-color);
}

.num-likes {
  margin-left: 5px;
}

.info-time {
  color: grey;
}

/* ---- Footer */

footer {
  margin: 0;
  padding: 5px var(--general-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .emoji {
  font-size: 42px;
  animation: pulse-big 2s infinite;
  margin-bottom: 10px;
}

a:hover {
  font-weight: bold;
}

/* ---------- Toggle effects & animations ----- */

/* To add when user has liked a post */
.liked {
  background-color: rgb(238, 139, 180);
}

/* To add when the post has too many characters */
.red {
  color: red;
}

@keyframes pulse-small {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse-big {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* --- TABLET & DESKTOP VERSION --- */

@media (min-width: 675px) {
  .main-wrapper {
    width: 60%;
  }

  .post-wrapper {
    width: var(--main-width-desktop);
  }

  .list-wrapper {
    width: var(--main-width-desktop);
  }

  .message {
    width: 100%;
  }

  h1 {
    font-size: 45px;
  }
}
